.AsideMainWrapper {
  width: 100px;
  height: 100%;
  min-height: 88.4vh;
  background-color: black;
  box-sizing: border-box;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

/* Link styles */
.AsideLinkWrapper {
  font-size: 12px;
  margin-bottom: 30px;
  position: relative;
  top: 30px;
}
.AsideMenuIcon {
  margin-right: 10px;
  font-size: 12px;
}

.LinkWrapper {
  text-decoration: none;
  color: white;
}

.AsideSubOption {
  width: 160px;
  height: 100%;
  background-color: black;
  color: white;
  position: absolute;
  left: 100px;
  top: 0;
  z-index: 10000;
  transition: margin-left 0.3s;
}
.AsideSubMenu {
  font-size: 12px;
}
.AsideFileLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: white;
}

.AsideFileLabelIcon {
  margin-left: 5px;
  font-size: 18px;
}

.AsideFileUploadField {
  display: none;
}
.SubMenuWrapper {
  font-size: 12px;
}
.SubMenuCollections {
  position: relative;
  top: 2.5px;
}
.NewBuildLink {
  text-decoration: none;
  color: white;
  position: relative;
  top: 7px;
}
.SubmenuIcon {
  position: relative;
  top: 2px;
}
