/* AsideMainWrapper remains the same */
.AsideMainWrapper {
    width: 100px;
    min-height: 87vh;
    background-color: black;
    box-sizing: border-box;
    position: relative;
}

/* Link styles */
.AsideLinkWrapper {
    font-size: 12px;
    padding: 20px;
    position: relative;
    left: -20px;
}

.LinkWrapper {
    text-decoration: none;
    color: white;
}

.AsiseSubOption {
    width: 120px;
    height: 100%;
    background-color: black;
    color: white;
    position: absolute;
    left:100px;
    top: 0;
    z-index: 10000;
    transition: margin-left 0.3s;
}
.AsideSubMenu{
    font-size: 12px;
}