.FooterMainWrapper{
    width: 100%;
    height: 35.5px;
    background-color: black;
    box-sizing: border-box;
    display: flex;
    position: relative;
}
.FproxyStatud{
    color: white;
    position: absolute;
    top: 0px;
    left: 120px;
    font-size: 12px;
}
.FConsolePage{
    width: 90px;
    height: 30px;
    position: relative;
    top: 5px;
    left:220px;
  }
  .FConsolePagebtn{
    position: absolute;
    top: 7px;
    left: 15px;
    font-size: 12px;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  .FConsoleIcon{
    font-size: 20px;
    position: absolute;
    color: white;
    top: 5px;
  }
  .FStatusIcon{
    font-size: 20px;
    position: absolute;
    top: -4.2px;
    left: -21px;
  }