.PMainWrapper {
  width: 100%;
  height: 99%;
  position: relative;
  top: 10px;
  overflow-y: auto;
}
.PHeadFied{
  position: absolute;
  top: -20px;
  left: 10px;
}
.PtableMain{
  width: 100%;
  position: absolute;
  top: 20px;
}
.PtableMain th,
.PtableMain td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: left;
}
.PtableMain th {
  font-size: 12px;
  background-color: #f4f4f4;
  font-weight: bold;
}

.PtableRowWrap {
  background-color: #fff;
}

.PtableRowWrap:nth-child(even) {
  background-color: #f9f9f9;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  position: relative;
  top: -5px;
  border-radius: 4px;
  font-size: 14px;
}

button:hover {
  background-color: #0056b3;
}