.CollectionPagemainWrapper {
  width: 107.5%;
  height: 100%;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  position: relative;
  top: -4px;
  left: -100px;
}
.CHeadingInnerWrap {
  height: 25px;
  position: relative;
  left: 0px;
  max-width: 85%;
  top: 10px;
}
.CollectionRequestDisplay {
  font-weight: bold;
  color: #0066cc;
}
.TabHeaderWrap {
  width: 100%;
  position: relative;
  top: -7px;
  height: 100%;
  display: flex;
  padding: 3px;
  box-sizing: border-box;
}
.CEnvironmentDropdown {
  width: 12%;
  height: 99%;
  display: flex;
  position: absolute;
  top: 10px;
  right: -180px;
  margin-right: 10px;
}
.ESelectList {
  border: none;
  background-color: rgb(226, 225, 225);
}
.Tab {
  position: relative;
  margin-right: 1px;
  width: 10%;
  height: 150%;
  border-right: 1px solid gray;
}
.CollectionRequestDisplay {
  width: 17%;
  padding: 2px 12px;
  font-size: 14px;
  border-bottom: 1px solid #e0e0e0;
  color: #333;
}
.CAddTabButtonWrap {
  width: 20px;
  background-color: transparent;
  border: none;
  position: relative;
  top: 5px;
  left: 0px;
}
.CAddBtnIcon {
  font-size: 20px;
  cursor: pointer;
}

.TabNameInput {
  border: none;
  background: transparent;
  font-size: 14px;
  height: 100%;
  width: 98%;
  text-align: center;
  border-radius: 4px;
}
.TabNameInput:active {
  border: none;
}
.CollectionInnerWrapper {
  width: 100%;
  height: 40px;
  position: absolute;
  top: 37px;
  box-sizing: border-box;
}
.CSearchMainWrapper {
  width: 100%;
  height: 35px;
  display: flex;
  box-sizing: border-box;
}
.CDropDownWrapper {
  height: 100%;
  width: 7%;
  background-color: gray;
  box-sizing: border-box;
}
.CSelectList {
  width: 100%;
  height: 100%;
  border: none;
  font-weight: bold;
  padding-left: 15px;
  background-color: lightgray;
}
.CSelectList :active {
  border: none;
  appearance: none;
  outline: none;
}
.HrLine {
  width: 1px;
  height: 80%;
  background-color: gray;
  margin-top: 3px;
  margin-left: 2px;
  margin-right: 2px;
}
.CSearchWrapper {
  width: 75%;
  height: 93%;
}
.CSearchfield {
  width: 100%;
  height: 100%;
  border: none;
  background-color: lightgray;
  font-size: medium;
}
.CSavebtn,
.CSendBtn {
  width: 8%;
  height: 100%;
  position: relative;
  top: -1px;
  left: 9px;
  margin-left: 4px;
}

.CSendField,
.CSaveField {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}
.CSendField:hover,
.CSaveField:hover {
  background-color: #0056b3;
}
.CBodyWrapper {
  width: 100%;
  height: 86%;
  position: absolute;
  top: 95px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.CRequestBodyWrapper,
.CResponseBodyWrapper {
  width: 50%;
  height: 100%;
  border: 3px solid lightgrey;
  box-sizing: border-box;
}
.CRequestOptionWrapper {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
}
.CLinkOuterWrapper {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.CLinkField {
  text-decoration: none;
  color: black;
  font-weight: 500;
  margin: 10px;
}

.activeTab {
  border-bottom: 3px solid orange;
}

.CLinkField:hover {
  color: #ffcc00;
}
.CRequestOptionInputWrapper {
  width: 100%;
  height: 550px;
}
.LoadingField {
  position: absolute;
  z-index: 10000;
  top: 45%;
  right: 300px;
  font-weight: bold;
  font-size: large;
}
.errorBorder {
  border: 2px solid red;
}
.CResponseStatusWrapper {
  display: flex;
  width: 100%;
  height: 30px;
  position: relative;
}
.CResponseStatusHeading {
  font-size: 14px;
  position: absolute;
  top: -10px;
  left: 10px;
}
.CResponseStatusField {
  position: absolute;
  right: 50px;
  top: -15px;
}
.successStatus {
  font-weight: bold;
  color: green;
}

.errorStatus {
  font-weight: bold;
  color: red;
}
.CResponseMainBodyWrapper {
  position: relative;
  top: 0px;
  width: 100%;
  height: 95%;
}
.CResponseMainBodyField {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 7px;
  background-color: #f5f5f5;
}
.key {
  color: #b75e0b; /* Orange for keys */
  display: inline-block;
  vertical-align: top;
}

.value {
  color: #05589c; /* Blue for values */
  white-space: pre-wrap;
}

.json {
  font-family: monospace;
  white-space: pre-wrap;
}

.PConsolePage {
  width: 120px;
  height: 30px;
  position: absolute;
  top: 85px;
  right: 100px;
}
